n8n/workflows/2.json
{
  "id": 2,
  "name": "Scrape Occurrences",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        940,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS, HEAD"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Origin, X-Requested-With, Content-Type, Accept, sessionid, responseType"
              }
            ]
          },
          "rawBody": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        940,
        750
      ],
      "webhookId": "220c29a6-f471-410b-83e7-575ce0d480cb"
    },
    {
      "parameters": {
        "command": "echo ${N8N_API_HOST}"
      },
      "name": "Get N8N API Host",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        750
      ]
    },
    {
      "parameters": {
        "command": "echo ${N8N_API_PORT}"
      },
      "name": "Get N8N API Port",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1320,
        750
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=http://{{$node[\"Get N8N API Host\"].json[\"stdout\"]}}:{{$node[\"Get N8N API Port\"].json[\"stdout\"]}}/api/dwc/scrape-occurrences",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"occurrence_submission_id\": {{$node[\"Webhook\"].json[\"body\"][\"occurrence_submission_id\"]}}\n}"
      },
      "name": "Scrape Occurrences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1510,
        750
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Bearer Token"
        }
      }
    },
    {
      "parameters": {},
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1690,
        750
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get N8N API Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get N8N API Host": {
      "main": [
        [
          {
            "node": "Get N8N API Port",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get N8N API Port": {
      "main": [
        [
          {
            "node": "Scrape Occurrences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Occurrences": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-09-23T10:29:03.227Z",
  "updatedAt": "2021-10-07T17:56:48.035Z",
  "settings": {},
  "staticData": null
}
