n8n/workflows/3.json
{
  "id": 3,
  "name": "Transformation",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        940,
        580
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transform",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS, HEAD"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Origin, X-Requested-With, Content-Type, Accept, sessionid, responseType"
              }
            ]
          },
          "rawBody": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        940,
        750
      ],
      "webhookId": "c14a8c22-a2f4-4e76-aff7-37c74f59d40a"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"file_type\"]}}",
              "value2": "=application/x-zip-compressed"
            },
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"file_type\"]}}",
              "value2": "=application/zip"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1520,
        750
      ]
    },
    {
      "parameters": {
        "command": "echo ${N8N_API_HOST}"
      },
      "name": "Get N8N API Host",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        750
      ]
    },
    {
      "parameters": {
        "command": "echo ${N8N_API_PORT}"
      },
      "name": "Get N8N API Port",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1320,
        750
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=http://{{$node[\"Get N8N API Host\"].json[\"stdout\"]}}:{{$node[\"Get N8N API Port\"].json[\"stdout\"]}}/api/xlsx/transform",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"occurrence_submission_id\": {{$node[\"Webhook\"].json[\"body\"][\"occurrence_submission_id\"]}}\n}"
      },
      "name": "XLSX Transform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1720,
        840
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Bearer Token"
        }
      }
    },
    {
      "parameters": {},
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1900,
        730
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get N8N API Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "XLSX Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get N8N API Host": {
      "main": [
        [
          {
            "node": "Get N8N API Port",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get N8N API Port": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XLSX Transform": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-09-23T14:54:04.504Z",
  "updatedAt": "2021-10-07T17:58:04.544Z",
  "settings": {},
  "staticData": null
}
